@model BaseViewModel
@{
    ViewBag.Title = "Shopify.NET Sample Application";
}

<h2>The Sample App</h2>

<p>
    Using this API you can work with Pages and other content for your <a href="http://www.shopify.com/">Shopify&trade;</a> store.
</p>